VITE_API_GENERATIVE_LANGUAGE_CLIENT=paste_your_api_key
VITE_BOT_API=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=AIzaSyA-NLpTAWLnnMGI8TEfd6D7PUAMixojYtk
